.songs {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
}

.songs li {
  display: flex;
  align-items: center;
  margin: 0 !important;
  padding: 8px 0;
  gap: 16px;
}

.songs li button {
  padding: 4px 8px;
  background-color: #fff;
  color: red;
  border-radius: 3px;
  border: none;
}
